:root{
    --backgroundColor: #2D1D5B;
    --fontColor: #F792E3;
    --borderColor: #110E28;
}

@font-face {
    font-family: "BitCell";
    src:  url("./fonts/bitcell_memesbruh03.ttf") format("truetype");
}

@font-face {
    font-family: "FutureStyle";
    src: url("./fonts/Exo-VariableFont_wght.ttf") format("truetype");
}

*{
    overflow: hidden;
    font-family: "FutureStyle", serif;
    color: var(--fontColor);
}

html {
    background: url(./images/SpaceBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

html, body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.content {
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 450px;
}

.scallop {
    background-color: var(--backgroundColor);
    border: 3px solid var(--borderColor);
    border-radius: 15px;
}

button:hover{
    background-color: var(--fontColor);
    color: var(--borderColor);
    border-color: var(--borderColor);
    transition: 0.5s;
}

button{
    color: var(--fontColor);
    vertical-align: middle;
    border-radius: 20px;
    border: 2px solid var(--fontColor);
    background-color: var(--borderColor);
    font-family: "FutureStyle", serif;
    transition: 0.5s;
    cursor:pointer;
}

/* error input style */

.errorInput{
    color : red;
    border-bottom: 2px solid red;
}

.errorInput::placeholder{
    color: red;
}

.errorInput:-webkit-autofill,
.errorInput:-webkit-autofill:hover,
.errorInput:-webkit-autofill:focus,
.errorInput:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--backgroundColor);
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: red;
}

/* input styles */

input::placeholder{
    color: var(--fontColor);
    font-size: 14px;
}

input:focus {
    outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    box-shadow: inset 0 0 20px 20px var(--backgroundColor);
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--fontColor)
}

input{
    margin-top: 3px;
    opacity: 1;
    color: var(--fontColor);
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: 0 0.75rem;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid var(--fontColor);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}